# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/
env/

# Django
db.sqlite3
*.log

# Mac
.DS_Store

# Videos (too large for git)
static/videos/
videos/

# allow subtitle VTTs
!static/videos/subtitles/
!static/videos/subtitles/*.vtt

# Secrets
.env

# Passenger restart
tmp/
